/*   header {
	background-color: #6C3;
	width: 100%;
	text-align: center;
	color: white;
	line-height: 100px;
	height: 100px;
	padding: 0;
	margin: 0;
}  */

 nav {
	background-color: #CC3;
} 

 main {
	background-color: #c0c0c0;
} 

/* footer {
	background-color: #6C3;
	text-align: center;
	color: white;
	height: 100px;
	line-height: 100px;
	bottom: auto;
} */


footer {
	font-size: 18px;
	font-weight: bold;
}
















