@charset "UTF-8";


main {
	background: url("/jsp_teamproject/static/images/game/main.jpg") no-repeat;
	background-size: 25rem;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

footer {
	border-top: 1px solid #333;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 50px 0;
}