@charset "UTF-8";

*{
  box-sizing:border-box;
	font-family:gulim;
	margin:0;
	padding:0;	
}
body{
	font-size:1.2rem;
	color:#454545;
}
#header{
	background: url("/jsp_teamproject/static/images/vote/communism.jpg") red no-repeat left/cover;
	color:#f1f1f1;
}

h2{
	padding:1.6rem;
}

table, th, td{
	border:1px solid #454545;
	border-collapse:collapse;
	padding:5px;
}
table th{
    text-align:center;
}
table{
	width: 700px;
}
td input, select{
	padding: 0.3rem;
}
#golf-nav li a{
	border-radius:2em;
	transition: .3s;
}

#golf-nav li a:hover{
	background-color:#f1f1f1 !important  ;
	color:#555f6d !important;
}

footer{
  background-color:red;
  color:#0e0e0e;
}